@model LibrarySystem.Models.Book

<div class="container">
    <div class="row my-3">
        <div class=" col-12">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Enter Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="description">Author</label>
                    <input type="text" class="form-control" id="Author" name="Author" placeholder="Enter Author">
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>



                <div class="mb-3">
                    <label for="releaseDate">TotalCopies</label>
                    <input type="number" class="form-control" id="TotalCopies" name="TotalCopies" placeholder="Enter the TotalCopies">
                    <span asp-validation-for="TotalCopies" class="text-danger"></span>

                </div>



                <div class="mb-3">
                    <label for="language">AvailableCopies</label>
                    <input type="number" class="form-control" id="AvailableCopies" name="AvailableCopies" placeholder="Enter the AvailableCopies">
                    <span asp-validation-for="AvailableCopies" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="posterUrl">ImageUrl</label>
                    <input type="file" class="form-control" id="ImageUrl" name="ImageUrl">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>

                </div>

                <!-- صورة العرض المبدئي -->
                <div class="mb-3">
                    <img id="preview" src="#" alt="Preview" style="max-width: 200px; display: none; border: 1px solid #ccc; padding: 5px; margin-top:10px;" />
                </div>
                <script>
                    function previewImage(event) {
                        var reader = new FileReader();
                        reader.onload = function () {
                            var output = document.getElementById('preview');
                            output.src = reader.result;
                            output.style.display = 'block'; // يخلي الصورة تظهر بعد اختيارها
                        };
                        reader.readAsDataURL(event.target.files[0]);
                    }
                </script>
             


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    <partial name="_NotifactionPartial" />
    <partial name="_ValidationScriptsPartial" />
}